<%= simple_form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :query, placeholder: 'Ask your question here!', label: false, class: "heading" %>

  <div class="question_inner">
      <small><i>Custom formatting is supported with markdown.</i></small>
      <%= f.input :body, placeholder: 'Add details about your question! Try to be thorough.', label: false %>


    <div class="actions">
      <%= f.submit :class => 'btn btn-success' %>
    </div>
  </div>
<% end %>
