<p id="notice"><%= notice %></p>
<div class="col-md-8">

  <h1>Questions</h1>


  <div class="question_list">
    <% unless @questions.blank? %>
      <% @questions.each do |question| %>
      <div class="question_entry">
        <b><%= link_to question.query, question %></b>
        <p><%= question.user.email %></p>
        <p><%= strip_tags(markdown(question.body)).truncate(300) %></p>
      </div>
      <% end %>
      <% else %>
      <%= render "noquestions" %>
    <% end %>
  </div>
</div>

<div class="active_questions col-md-4">
  <h4>Active Discussions</h4>
  <% @active_questions.each do |question| %>
  <div class="question_entry">
    <li><%= link_to question.query, question %></li>
  </div>
  <% end %>
</div>
