<p id="notice"><%= notice %></p>

<div class="col-md-8">
  <div class="question_outer">
    <h2 class="heading"><%= @question.query %></h2>
    <div class="question_inner">
      <div class="user_info">
        <%= image_tag avatar_for @question.user, class: "avatar" %>
        <%= @question.user.email %>
      </div>
      <p><%= markdown(@question.body) %></p>
      <%= link_to 'Edit', edit_question_path(@question) %> |
    </div>

  </div>

  <div class="answer_outer">
    <div class="answer_inner" id="answers_<%= @question.id%>">
      <div class="answer_well">

                <% if @question.answers.present?%>
                  <%= render @question.answers, question: @question %>

                <% end %>

<% unless user_signed_in? %>

  <div class="answer_blocked">
<%= link_to "Sign in to answer!", new_user_session_path %>
  </div>

<% else %>

                <%= form_for([@question, @question.answers.build], remote: true) do |f| %>
                <%=f.text_area :body, placeholder: "Add your answer",
                class:"answer_content", id: "answer_content_#{@question.id}"%>
                <%= f.submit 'Answer', class: "btn btn-primary btn-answer" %>
                <% end %>

<% end %>
            </div>
    </div>

  </div>
</div>
