<p id="notice"><%= notice %></p>

<div class="col-md-8">
  <div class="question_outer">
    <h2 class="heading"><%= @question.query %></h2>
    <div class="question_actions">
      <%= link_to edit_question_path(@question) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="question_inner">
      <div class="user_info">
        <%= image_tag avatar_for @question.user, class: "avatar" %>
        <%= @question.user.email %>

        <div class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i>
          <%= raw @question.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %>
        </div>

      </div>
        <div class="question_body">
          <p><%= markdown(@question.body) %></p>
        </div>
    </div>

  </div>

  <div class="answer_outer">
    <div class="answer_inner" id="answers_<%= @question.id%>">
      <div class="answer_well">

                <% if @question.answers.present?%>
                  <%= render @question.answers, question: @question %>

                <% end %>

<% unless user_signed_in? %>

  <div class="answer_blocked">
<%= link_to "Sign in to answer!", new_user_session_path %>
  </div>

<% else %>

                <%= form_for([@question, @question.answers.build], remote: true) do |f| %>
                <div class="response_avatar">
                <%= image_tag response_avatar_for current_user %>
                </div>
                <%=f.text_area :body, placeholder: "Add your answer",
                class:"answer_content", id: "answer_content_#{@question.id}"%>
                <%= f.submit 'Answer', class: "btn btn-primary btn-answer" %>
                <% end %>

<% end %>
            </div>
    </div>

  </div>
</div>


  <div class="related_questions col-md-4">
    <h4>Similar Questions</h4>
    <% unless @related_questions.blank? %>
      <% @related_questions.each do |related_question| %>
      <li><%= link_to related_question.query, related_question %></li>
      <% end %>
    <% else %>
    <p>No related questions!</p>
  <% end %>
  </div>
