<div class="user_profile col-md-10">

  <div class="details">
    <%= image_tag headshot_for @user %>
    <p><b><%= @user.email %></b></p>
    <p><b><%= @user.department %></b></p>
  </div>

  <div class="contributions">

    <ul class="nav nav-tabs" role="tablist">

      <li role="presentation" class="active">
        <a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">
        <i class="fa fa-question-circle" aria-hidden="true">
        </i> Questions <div class="badge">
        <%= @user.questions.count %></div></a></li>

      <li role="presentation">
        <a href="#answers" aria-controls="answers" role="tab" data-toggle="tab">
        <i class="fa fa-exclamation-triangle" aria-hidden="true">
        </i> Answers <div class="badge"><%= @user.answers.count %></div></a></li>
    </ul>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="questions">
        <ul class="user_question_list">
            <%= render 'question-list' %>
        </ul>
      </div>

      <div role="tabpanel" class="tab-pane" id="answers">
        <ul class="user_answer_list">
          <%= render 'answer-list' %>
      </ul>
    </div>

  </div>
</div>
