<div class="answer_body" id= "answer-<%= answer.id %>"">
	<%= link_to @question.user do %>
<b> <%= image_tag avatar_for answer.user %> <%= answer.user.email%></b>
<% end %>

<div class="answer_actions">
<% if answer.user == current_user %>
	 <%= link_to question_answer_path(question, answer), method: :delete, data: {confirm: "Are you sure?"} do %>
	 <i class="fa fa-window-close" aria-hidden="true"></i>
	 <% end %>
<% end %>
</div>

	<div class="answer_body_inner">
		<span> <%= markdown(answer.body) %>
	</div>

</span>
</div>
